
<div id="about-div">
    <img id="acb" class="close-button" src="/res/close.png"/>
    <h1>About</h1>
    <p>
      This site is intended to promote the new addictive mobile game Donald Pump.
      This is the app's official site and uses no cookies nor does it take or use any personal
      information.
    </p>
    <script>
    //Check About.js component for info on how the component controls this modal
      function closeAbout(){
        var element = document.getElementById("about-div");
        element.classList.remove("popin");
        setTimeout(function(){element.style.display = "none";},500);
        MODAL = false;
      }
      document.getElementById("acb").addEventListener("click",closeAbout);
    </script>
  </div>

  <div id="contact-div">
    <img id="ccb" class="close-button" src="/res/close.png"/>
    <h1>Contact</h1>
    <p>
      For support, issues or anything of relevance contact us
      at <a style="color: white;" href="mailto:info@donaldpump.com">info@donaldpump.com</a>.
    </p>
    <script>
    //Check About.js component for info on how the component controls this modal
      function closeContact(){
        var element = document.getElementById("contact-div");
        element.classList.remove("popin");
        setTimeout(function(){element.style.display = "none";},500);
        MODAL = false;
      }
      document.getElementById("ccb").addEventListener("click",closeContact);
    </script>
  </div>

  <footer class="footer-wrapper">
    <div id="footer">
    </div>
  </footer>

  <script src="particles.js"></script>
  <script src="dist/js/scripts.min.js"></script>