<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

  <div id="background"></div>

  <div class="title-wrapper">
    <h1 class="title">Donald Pump</h1>
    <h1 class="heading">A Global Gust Game</h1>
  </div>

  <div id="buttoncontainer">
  </div>

  <div id="maincontentwrapper">
  </div>

  <div id="about-div">
    <img id="acb" class="close-button" src="/res/close.png"/>
    <h1>About</h1>
    <p>
      This site is intended to promote the new addictive mobile game Donald Pump.
      This is the app's official site and uses no cookies nor does it take or use any personal
      information.
    </p>
    <script>
    //Check About.js component for info on how the component controls this modal
      function closeAbout(){
        var element = document.getElementById("about-div");
        element.classList.remove("popin");
        setTimeout(function(){element.style.display = "none";},500);
        MODAL = false;
      }
      document.getElementById("acb").addEventListener("click",closeAbout);
    </script>
  </div>

  <div id="contact-div">
    <img id="ccb" class="close-button" src="/res/close.png"/>
    <h1>Contact</h1>
    <p>
      For support, issues or anything of relevance contact me
      at donaldpumped@gmail.com.
    </p>
    <script>
    //Check About.js component for info on how the component controls this modal
      function closeContact(){
        var element = document.getElementById("contact-div");
        element.classList.remove("popin");
        setTimeout(function(){element.style.display = "none";},500);
        MODAL = false;
      }
      document.getElementById("ccb").addEventListener("click",closeContact);
    </script>
  </div>

  <footer class="footer-wrapper">
    <div id="footer">
    </div>
  </footer>

  <script src="particles.js"></script>
  <script src="dist/js/scripts.min.js"></script>
</body>

</html>
